main {
    & .cabecalho {
        height: 7rem;
        background-color: #fae4f0;
        position: relative;

        & .img-perfil {
            width: 6rem;
            border-radius: 3rem;
            position: absolute;
            left: 2rem;
            top: 4rem;
        }
    }
}
